html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e1e0e0;
}
/* navbar */

.h1{
    font-size: 20px;
    margin-top: 20px;
}
.navbar {
    display: flex;
    height: 3vh;
    justify-content: space-between;
    align-items: center;
    background-color: #7e00c2;
    color: #fff;
    padding: 10px 20px ;
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex: 1;
    text-align: right;
}

.login-link {
    color: #fff;
    text-decoration: none;
}
#logout-btn{
    background-color: #7e00c2;
    color: #fff;
    border: none;
    font-size: 15px;
}
#username{
    background-color: #7e00c2;
    color: #fff;
    border: none;
    text-decoration: none;
}
.header{
    position: relative;
    background-color: #fff;
    height: 8vh;
}

h2{
    position: absolute;
    font-size: 30px;
    left: 20px;
    margin-top: 10px;
    
}
